

<p>
  <b>Firstname:</b>
  <%= @profile.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @profile.lastname %>
</p>

<p>
  <b>Address:</b>
  <%= @profile.address %>
</p>

<p>
  <b>Mobile:</b>
  <%= @profile.mobile %>
</p>

<p>
  <b>User:</b>
  <%= @profile.user_id %>
</p>

<% if current_user.admin? %> 
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back to Shopping', :controller => :products %>
